.vision__image{
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    border-top: 1px solid #d2b2f9;
}

.vision__heading{
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #5903f8 0%, #c2b6f3 100%);
    font-size: 350%;
    font-weight: 900;
}

.vision__desc{
    color: #e9ddf8;
    font-weight: 600;
}

@media only screen and (max-width: 989px) and (min-width: 769px){
    
}

